.THIS.toaster {
    position: fixed;
    text-align: center;
    top: auto;
    right: 0;
    left: 0;
    z-index: 10000;
}

.THIS .showToast{
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 0; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: 0; opacity: 0;}
}