.THIS.slds-has-error .slds-form-element__control .slds-input{
    border-color: rgb(194, 57, 52);
}

.THIS input.disable-manual-input + a.datePicker-openIcon {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background-position: calc(100% - .75rem) center;
}

.THIS input + a.datePicker-openIcon:before {
    position: absolute;
    left: auto;
    width: auto;
    height: auto;
    right: .75rem;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
}

.THIS input + a.datePicker-openIcon {
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    width: calc(15px + .75rem);
    right: 0;
    background-position: 0% center;
}